<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard">
        <div class="sidebar">
            <h1>IRXR Dashboard</h1>
            <button id="scan-button" class="sidebar-btn">Scan</button>
            <div id="device-container"></div>
        </div>
        <div class="content">
            <div id="resultContainer"></div>
        </div>
    </div>

    <template id="device-template">
        <div class="device-panel">
            <div class="device-header">
                <span class="device-name">Name</span>
            </div>
            <div class="device-info">
                <span class="device-type">Device Name</span>
                <span class="device-ip">IP Address</span>
            </div>
            <div class="device-actions">
                <button class="action-btn qr-btn">QR Calibration</button>
                <button class="action-btn view-btn">Get View</button>
            </div>
        </div>
    </template>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
